:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}

/* Strat display */
.d-flex {
    display: flex;
}
.justfiy-between {
    justify-content: space-between;
}
.algin-c {
    align-items: center;
} 
.d-grid {
    display: grid;
}
.gap-20{
    gap: 20px;
}
.d-block {
    display: block;
}
@media (max-width:767px) {
    .block-mobile{
        display: block;
    }
}
/* End display */
/* Strat position  */
.p-relative {
    position: relative;
}

/* End position  */
/* Strat Padding + margin  */
.p-10 {
    padding: 10px;
}
.p-15 {
    padding: 15px;
}
.p-20{
    padding: 20px;
}
.m-0 {
    margin: 0;
}
.m-20 {
    margin: 20;
}

.mt-0 {
    margin-top: 0;
}
.mt-5 {
    margin-top: 5px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-20 {
    margin-top: 20px;
}
.ml-5 {
    margin-left: 5px;
}
.ml-10 {
    margin-left: 10px;
}
.ml-20 {
    margin-left: 20px;
}
.mb-20 {
    margin-bottom: 20px;
}

/* End Padding + margin  */
/* Strat Colros   */
.bg-white {
    background-color: white;
}
.bg-eee{
    background-color: #eee;
}
.bg-blue {
    background-color: var(--blue-color);
}
.c-grey {
    color: var(--grey-color);
}
.c-blue {
    color: var(--blue-color);
}
.c-black {
    color: black;
}
.c-white {
    color: white;
}
/* End Colros   */
/* Strat Fonts  */
.fs-14{
    font-size: 14px;
}
.txt-c {
    text-align: center;
}
/* End Fonts  */
/* Strat Border  */
.border-ccc {
    border: 1px solid #ccc;
}
.rad-6 {
    border-radius: 6px;
}
.rad-10 {
    border-radius: 10px;
}
.b-none {
    border: none;
}
/* End Border  */
/* Strat Media  */
@media (max-width:767px) {
    .txt-c-mobile {
        text-align: center;
    }
}
/* End Media  */
/* Strat Width + Height  */
.height-200{
    height: 200px;
}
.w-full {
    width: 100%;
}
.w-fit {
    width: fit-content;
}
.resize {
resize: none;
}
/* End Width + Height  */
/* Strat Componntes  */
.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-btn {
    padding: 4px 10px;
    border-radius: 6px;
}
/* End Componntes  */